<p id="notice"><%= notice %></p>

<p>
  <strong>P:</strong>
  <%= @product_breakdown_structure.p_id %>
</p>

<%= link_to 'Edit', edit_product_breakdown_structure_path(@product_breakdown_structure) %> |
<%= link_to 'Back', product_breakdown_structures_path %>
