

<p>
  <strong>Round:</strong>
  <%= @expert_form.round_id %>
</p>

<p>
  <strong>Expertname:</strong>
  <%= @expert_form.expertName %>
</p>

<%= link_to 'Edit', edit_expert_form_path(@expert_form) %> |
<%= link_to 'Back', expert_forms_path %>
