<div class="danger text-center">
  <h1>Wilkommen im REM-Projektmanagement-Tool</h1>
  <br>
  <br>
  <div>
    <p class="lead">Bestehende Projekte finden Sie oben rechts im Menü.</p>
    <p class="lead">Oder möchten sie ein <%= link_to 'neues Projekt', new_project_path, :id=>'btn', :class=> 'btn btn-sm btn-success'%> anlegen?</p>
    <p class="lead">Viel Erfolg mit Ihrem Projekt wünscht Ihnen das REM-Team.</p>
    <br>
    <p class="text-success lead">Riegel | Erfkämper | Mußenbrock</p>
  </div>
</div>