// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#middle{
	vertical-align:middle;	
}

#field{
	margin: 0 auto;
	color: #ffffff;
}

table {
	margin-top: 40px;
}

#new {
    width: 30%;
}

#btn {
	margin: 3px;
}

#uno {
    background-color: #DCEDC8;
}

#dos {
    background-color: #B2EBF2;
}

#tres {
    background-color: #FFF9C4;
}

.google-visualization-orgchart-node {
background: #C5CAE9 !important;
    border: 0px solid #DDDAB9 !important;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 5px #F2F2F2, 0 -1px 1px #FFFFFF inset;
    padding-bottom: 15px !important;
    padding-top: 15px !important;
    width: 165px !important;
    }

