#middle{
	vertical-align:middle;	
}

#field{
	margin: 0 auto;
	color: #ffffff;
}

table {
	margin-top: 40px;
}


#btn {
	margin: 3px;
}

.google-visualization-orgchart-node {
background: #FBF4AE !important;
    border: 0px solid #DDDAB9 !important;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 5px #F2F2F2, 0 -1px 1px #FFFFFF inset;
    padding-bottom: 15px !important;
    padding-top: 15px !important;
    width: 165px !important;
    }