<p id="notice"><%= notice %></p>

<p>
  <strong>P:</strong>
  <%= @resource_breakdown_structure.p_id %>
</p>

<%= link_to 'Edit', edit_resource_breakdown_structure_path(@resource_breakdown_structure) %> |
<%= link_to 'Back', resource_breakdown_structures_path %>
